<!-- Carousel Start -->
<app-carousel></app-carousel>
<!-- Carousel End -->

<section class="container">
    <div class="mt-5 mb-5">
        <h3 class="">Previous Work</h3>
    </div>

    <div *ngIf="homePageData$ | async as homePageData">
        <div class="row mb-5" *ngFor="let data of homePageData">
            <div class="col-md-6 col-sm-12 d-flex align-items-center">
                <div class="">
                    <h4 class="mb-3">{{data.projectTitle}}</h4>
                    <p>
                        {{data.content}}
                    </p>
                    <button type="button" class="btn btn-primary">Read More</button>
                </div>
    
            </div>
            <div class="col-md-6 col-sm-12">
                <img src={{data.image}} class="d-block w-100" alt="...">
            </div>
        </div>
    </div>

</section>