<div class="mb-5 pt-5 pb-5 header">
    <div class="container">
        <h1 class="white-text">Contact Us</h1>
    </div>
</div>

<div class="">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13233.850044559606!2d18.516231!3d-33.980652!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xbc181ad97ccd1887!2sAbgo%20Agency!5e0!3m2!1sen!2sza!4v1659277160039!5m2!1sen!2sza"
        width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <h3 class="mb-5 mt-5">Our Location</h3>

            <p>
                22 Wensweg<br>
                Belthorn Estate<br>
                Crawford<br>
                Cape Town
            </p>

            <p>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-telephone-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
                </svg> +27 21 692 3620
            </p>

            <p>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-envelope-fill" viewBox="0 0 16 16">
                    <path
                        d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z" />
                </svg> info@abgo.co.za
            </p>


        </div>

        <div class="col-md-8 col-sm-12">
            <h3 class="mt-5 mb-5">Get In Touch</h3>

            <form class="mb-5">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Name</label>
                    <input type="text" class="form-control" id="">
                </div>

                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="">
                </div>

                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Phone Number</label>
                    <input type="text" class="form-control" id="">
                </div>

                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Subject</label>
                    <input type="text" class="form-control" id="">
                </div>

                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Message</label>
                    <textarea class="form-control" rows="3"></textarea>
                </div>

                <button type="button" class="btn btn-primary">Read More</button>
            </form>

        </div>
    </div>

</div>
