<div class="mb-5 pt-5 pb-5 header">
    <div class="container">
        <h1 class="white-text">About Us</h1>
    </div>
</div>

<section class="container">
    <div class="row mb-5">
        <div class="col-md-6 col-sm-12">
            <h4 class="mb-3">Who Are We?</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Morbi imperdiet, nibh vitae suscipit mollis, purus dui varius
                elit, non imperdiet risus dui eget dolor. Integer eleifend leo
                et dapibus sollicitudin. Integer iaculis mi eu dolor aliquet congue.
                Suspendisse sem est, elementum facilisis odio in, sodales finibus orci.
            </p>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Morbi imperdiet, nibh vitae suscipit mollis, purus dui varius
                elit, non imperdiet risus dui eget dolor. Integer eleifend leo
                et dapibus sollicitudin. Integer iaculis mi eu dolor aliquet congue.
                Suspendisse sem est, elementum facilisis odio in, sodales finibus orci.
            </p>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Morbi imperdiet, nibh vitae suscipit mollis, purus dui varius
                elit, non imperdiet risus dui eget dolor. Integer eleifend leo
                et dapibus sollicitudin. Integer iaculis mi eu dolor aliquet congue.
                Suspendisse sem est, elementum facilisis odio in, sodales finibus orci.
            </p>
        </div>
        <div class="col-md-6 col-sm-12">
            <img src="https://via.placeholder.com/600x400" class="d-block w-100" alt="...">
        </div>
    </div>
</section>
